#scheduler-date {
	height: 27px;
	color: #333;
	background-color: transparent;
	border: 1px solid #b7d1fc;
  	color: #d0e1fd;
  	text-align: center;
}


.appointment-slot {
	border-left: 1px solid #fff;
	text-align: center;
	position: relative;
	width:80px;
	height:60px;
	position:relative;
	display:inline-block;
	margin:3px;
}
.appointment-slot:hover,.appointment-slot:focus {
	text-decoration:none;
}
.appointment-slot .badge{
	position:absolute;
	right:-7px;
	top:-7px;
	border:1px solid rgba(0,0,0, 0.1);
}
.appointment-slot .time{
	color:#fff;
	height:60px;
	line-height:60px;
	font-size:16px;
}
.appointment-slot .appointments {
/*
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 12px;
	padding: 0 5px 0 0;
	margin: 0;
	*/
}

.appointment-slot:first-child {
	border-left: medium none;
}

.appointment-slot.free {
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	background-color: #26C281;
}

.appointment-slot.free:hover {
	transition: all 0.3s ease-in-out;
	background-color: #36D7B7;
}

.appointment-slot.full {
	cursor: not-allowed;
	background-color: #EF4836;
}

.appointment-slot.idle {
	cursor: not-allowed;
	background-color: gray;
	opacity:0.3;
}

.appointment-slot.selected, .appointment-slot.selected:hover {
	background-color: #4B8DF8;
}

.dhx_cal_event.appointment_box .dhx_body, .dhx_cal_event.appointment_box .dhx_footer, .dhx_cal_event.appointment_box .dhx_header, .dhx_cal_event.appointment_box .dhx_title {
    background-color: #1796b0;
}
.shortcut{
	border-bottom:1px solid rgba(0,0,0,0.1);
	margin-bottom:1px ;
}
.shortcut:hover,.shortcut:focus{

}
.clear{
	clear:both;
}