body{
	padding-bottom:40px!important;
}
#pikolor_debug{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:38px;
	background:#fff;
	border-top:1px solid #ccc;
	box-shadow:0 0 4px 4px #ccc;
	padding:0 5px;
	font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}
.debug_block{
	display:inline-block;
	padding: 0 8px;
	height:22px;
	line-height:22px;
	margin:8px 5px;
	background:#333;
	color:#fff;
	border-radius:11px;
	font-size:11px;
}
.debug_block.click{
	cursor:pointer;
}
table{
	background:#ccc;
}
table td{
	background:#fff;
	color:#333;
	padding:3px 6px ;
}
pre{
	margin:0;
	padding:0;
}